

services:
  fastapi:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./model:/app/model

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    command: mlflow ui --host 0.0.0.0 --port 5000
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlruns
    environment:
      - MLFLOW_ALLOW_ORIGIN=*
      - MLFLOW_SERVER_HOST=mlflow

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus_data:/prometheus   # persistent volume

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana # persistent volume
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
      - GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION=false
    depends_on:
      - prometheus

  streamlit:
    build:
      context: .
      dockerfile: ./streamlit/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - fastapi

volumes:
  prometheus_data:
  grafana_data:
