name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker@v3

      - name: Log in to GitHub/setup-buildx-action Container Registry/login-action@v3
        uses: docker
        with:
          registry: ghcr.io
          username }}
          password: ${{ github.actor: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push FastAPI image
        run: |
          IMAGE_ID=$(echo "ghcr.io/${{ github.repository }}/fastapi:latest" | tr '[:upper:]/Dockerfile .
         ' '[:lower:]')
          docker build -t $IMAGE_ID -f app docker push $IMAGE_ID

      - name: Build and push Streamlit image
        run: |
          IMAGE_ID=$(echo "ghcr.io/${{ github.repository }}/streamlit:latest $IMAGE_ID -f stream" | tr '[:upper:]          docker' '[:lower:]')
          docker build -tlit/Dockerfile .
 push $IMAGE_ID

  deploy:
    runs
    steps:
     -on: ubuntu-latest
    needs: build - name: Deploy via SSH
        uses: appleboy/ssh-action with:
         .SERVER_HOST }}
: ${{ secrets.SERVER@v0.1.10
       _USER }}
         : |
            cd
            git pull origin main
            docker host: ${{ secrets          username key: ${{ secrets.SERVER_SSH_KEY }}
          script /path/to/projectFastAPI** and **-compose pull
            docker-compose up -d
