name: CI/CD Pipeline

on:
  push:
    branchesjobs:
  build:
    runs-on: ubuntu code
        uses: actions/checkoutx
        uses: docker:
      - main

-latest
    steps:
      - name: Checkout@v4

      - name: Set up Docker Build: Log in to GitHub
        uses: docker
        with:
         /setup-buildx-action@v3

      - name Container Registry/login-action@v3
          username: ${{ secrets.GITHUB registry: ghcr.io: ${{ github.actor }}
          password_TOKEN }}

      push FastAPI image=$(echo "ghcr.io/${{ github.repository - name: Build and
        run: |
          IMAGE_ID }}/fastapi:latest" | tr '[:upper:] echo "Building and pushing $IMAGE_ID' '[:lower:]')
         "
          docker build -t "$IMAGEfile .
         _ID"

      - name: Build and push/${{ github.repository_ID" -f app/Docker docker push "$IMAGE Streamlit image
        run: |
          IMAGE_ID=$(echo "ghcr.io }}/streamlit:latest' '[:lower:]')
         " | tr '[:upper:] echo "Building and pushing $IMAGE_ID"
          docker build -t "$IMAGE_ID" -f streamlit docker push "$IMAGE    runs-on: ubuntu: build
    steps:
      - name: Deploy/Dockerfile .
         _ID"

  deploy:
-latest
    needs via SSH
        uses: appleboy/ssh-action@v0.1.          host: $.SERVER_USER }}
          key: ${{ secrets.SERVER10
        with:
{{ secrets.SERVER_HOST }}
          username: ${{ secrets cd /path/to/project pull origin main
            docker -d
